<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0JNSX81UHX7PSLIEiSibe5Sixi0Py4RI</string>
	<key>GCM_SENDER_ID</key>
	<string>638038628767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.checkerchecks.checkerchecks</string>
	<key>PROJECT_ID</key>
	<string>checkerchecks-web-app</string>
	<key>STORAGE_BUCKET</key>
	<string>checkerchecks-web-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638038628767:ios:98a5d5655209a8658505aa</string>
</dict>
</plist>